*.env
.mypy_cache/
.terraform
terraform.state
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
__blobstorage__/
__queuestorage__/
__azurite_*.json
/LangChain/.chroma/index
/.idea/**
